/*
    ----------------------------------------------------
    ----------  /01-curso-jquery-escuela-it/  ----------
    ----------  /src/styles/  --------------------------
    ----------  /06-primeros-pasos/  -------------------
    ----------  /02-ejemplo2.css  ----------------------
    ----------------------------------------------------
*/


.main__ejemplo2 {
    width: 100%;
    max-width: 102.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(219, 228, 240), rgb(176, 196, 236));
    box-shadow: inset 50px 50px 100px rgb(209, 220, 235);
    padding: 3rem 3rem;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.h {
    margin-top: 20px;
    padding: 20px;
    background-color: #ccc;
}

.h:hover{
    background-color: #0f0;
}

#info {
    padding: 2rem 3rem;
    background-color: rgb(190, 215, 235);
}

#info h3 {
    font-size: 1.4rem;
    font-weight: 100;
    padding: 0.5rem;
}

li {
    margin: 1rem 0;
}