/*
    ----------------------------------------------------
    ----------  /01-curso-jquery-escuela-it/  ----------
    ----------  /src/styles/  --------------------------
    ----------  /06-primeros-pasos/  -------------------
    ----------  /primeros-pasos.css  -------------------
    ----------------------------------------------------
*/


.main__primeros-pasos {
    max-width: 102.4rem;
    width: 100%;
    min-height: 46rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
    border-radius: 0.5rem;
}


/*  -----  Responsive  -----  */

@media (max-width: 1024px) {
    
    .main__primeros-pasos {
        padding: 2rem;
        padding-top: 5rem;
    }
}

@media (max-width: 568px) {
    
    .main__primeros-pasos {
        padding: 1rem;
        padding-top: 3rem;
    }
}