/*  -----------------------------------------------------------------  */
/*  ----------  /curso-jquery-escuela-it.com/  ----------------------  */
/*  ----------  /10-mainipulacion-avanzada-del-contenido/  ----------  */
/*  ----------  /02-inyeccion-after-before/  ------------------------  */
/*  ----------  /assets/css/styles.css  -----------------------------  */
/*  -----------------------------------------------------------------  */


#div1,
#div2 {
    padding: 30px;
    color: green;
}

.p1 {
    border: 1px solid #0f0;
}