/*
    ------------------------------------------
    ----------  /01-curso-jquery/  -----------
    ----------  /src/styles/  ----------------
    ----------  /layout-header.css  ----------
    ------------------------------------------
*/


.header__container {
    width: 100%;
    display: flex;
}

.layout__header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 2rem 5rem;

    /*  -----  background  -----  */
    background-image:
        linear-gradient(to right, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        radial-gradient(circle 500px at 20% 100%, rgba(139, 92, 246, 0.3), transparent),
        radial-gradient(circle 500px at 100% 80%, rgba(59, 130, 246, 0.3), transparent);
    background-size:
        48px 48px,
        48px 48px,
        100% 100%,
        100% 100%;
    background-repeat: repeat;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


/*  -----  logos  -----  */

.header__container-logos {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}


.header__jquery-logo,
.header__jquery-ui-logo {
    width: 4rem;
    height: 4rem;

    &:hover {
        transform: scale(1.1);
    }
}

.header__jquery-banner,
.header__jquery-ui-banner {
    width: 15rem;
    height: auto;
    mix-blend-mode: multiply;

    &:hover {
        transform: scale(1.1);
    }
}



/*  -----  title  -----  */
.header__container-title {
    max-width: 76.8rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 2rem;
    border-radius: 30px;
    background-color: #F7E7C0;
    background-image:
        linear-gradient(to right, #e5e7eb 1px, transparent 1px),
        linear-gradient(to bottom, #e5e7eb 1px, transparent 1px)
    ;
    background-size: 40px 40px; 
}

.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    color: #036AAD;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header__title p {
    font-size: 2.4rem;
}

.header__separator {
    width: 100%;
    height: 0.1rem;
    background-color: #E6EBF1;
}


/*
    ----------------------------------
    ----------  Responsive  ----------
    ----------------------------------
*/

/* @media (max-width: 1675px) {

    .header__container-title {
        top: auto;                 
        bottom: 2rem;              
        transform: translateX(-50%); 
        gap: 2rem;
    }

    .header__separator {
        width: 75%;
    }
}

@media (max-width: 1380px) {

    .layout__header {
        height: 18rem;
        flex-direction: column;
    }

    .header__jquery-logo,
    .header__jquery-ui-logo {
        width: 3.5rem;
        height: 3.5rem;
    }

    .header__jquery-banner,
    .header__jquery-ui-banner {
        width: 15rem;
        height: auto;
        mix-blend-mode: multiply;
        &:hover {
            transform: scale(1.1);
        }
    }

    .header__container-title {
        width: 100%;
        height: 14rem;
    }

    .header__separator {
        width: 95%;
    }

}


@media (max-width: 1024px) {

    .layout__header {
        position: relative;
        height: 22rem;
    }

    .header__container-title {
        bottom: 1.5rem;              
        gap: 1.5rem;
    }

}
*/

@media (max-width: 1500px) {

    .layout__header {
        flex-direction: column;
        gap: 2rem;
    }

}

@media (max-width: 785px) {

    .layout__header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header__title {
        font-size: 3rem;
    }

}

@media (max-width: 630px) {

    .layout__header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header__title {
        font-size: 2.6rem;
    }

}

@media (max-width: 400px) {

    
    .header__title {
        font-size: 2.4rem;
    }

}

/*
@media (max-width: 600px) {

    .layout__header {
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
    }

    .header__container-logos {
        position: static;
        width: 100%;
        justify-content: center;
        height: auto;
    }

    .header__container-title {
        position: static;
        width: 100%;
        transform: none;
        height: auto;
    }

    .header__title {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {

    .header__title {
        font-size: 1.6rem;
    }

} */