/*
    ----------------------------------------------------
    ----------  /01-curso-jquery-escuela-it/  ----------
    ----------  /src/styles/  --------------------------
    ----------  /layout-header.css  --------------------
    ----------------------------------------------------
*/


.layout__header {
    width: 100%;
    height: 12rem;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    text-align: center;
    background: linear-gradient(to right, rgb(189, 220, 230) 20%, rgb(133, 157, 189) 40%, rgb(100, 143, 230) 60%, rgb(197, 201, 221) 80%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


/*  -----  logos  -----  */

.header__container-logos {
    width: 30rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header__jquery-logo,
.header__jquery-ui-logo {
    width: 4rem;
    height: 4rem;

    &:hover {
        transform: scale(1.1);
    }
}

.header__jquery-banner,
.header__jquery-ui-banner {
    width: 20rem;
    height: auto;
    mix-blend-mode: multiply;

    &:hover {
        transform: scale(1.1);
    }
}

/*  -----  title  -----  */
.header__container-title {
    width: 100rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    width: 100%;
    font-size: 2.6rem;
    color: #E6EBF1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header__separator {
    width: 90%;
    height: 0.1rem;
    margin: 1rem 2rem;
    background-color: #E6EBF1;
}


/*
    ----------------------------------
    ----------  Responsive  ----------
    ----------------------------------
*/

@media (max-width: 1380px) {

    .layout__header {
        height: 24rem;
        flex-direction: column;
    }

    .header__container-logos {
        height: 8rem;
    }

    .header__jquery-logo,
    .header__jquery-ui-logo {
        width: 3.5rem;
        height: 3.5rem;
    }

    .header__jquery-banner,
    .header__jquery-ui-banner {
        width: 15rem;
        height: auto;
        mix-blend-mode: multiply;

        &:hover {
            transform: scale(1.1);
        }
    }

    .header__container-title {
        width: 100%;
        height: 8rem;
    }
    
}


@media (max-width: 1024px) {

    .layout__header {
        position: relative;
        height: 35rem;
    }
    
}

@media (max-width: 568px) {

    .header__title {
        font-size: 2rem;
    }
    
}

@media (max-width: 400px) {

    .header__title {
        font-size: 1.6rem;
    }
    
}
