/*  -----------------------------------------------------------------  */
/*  ----------  /curso-jquery-escuela-it.com/  ----------------------  */
/*  ----------  /10-mainipulacion-avanzada-del-contenido/  ----------  */
/*  ----------  /01-inyeccion-append-prepend/  ----------------------  */
/*  ----------  /assets/css/styles.css  -----------------------------  */
/*  -----------------------------------------------------------------  */


#div1,
#div2 {
    padding: 30px;
    color: green;
}

#div1 span,
#div2 span {
    font-size: 3rem;
    font-weight: bold;
}

.p1 {
    margin: 10px;
    border: 1px solid #0f0;
}
