/*
    -------------------------------------------------------
    ----------  /curso-jquery-escuela-it.com/  ------------
    ----------  /src/styles/  -----------------------------
    ----------  /12-eventos-teclado-raton/  ---------------
    ----------  /01-seguir-movimiento-raton.css  ----------
    -------------------------------------------------------
*/


.layout__main {
    margin-top: 20rem;
}

.header__title {
    font-size: 2.6rem;
}


#moverse{
    position: absolute;
    z-index: 1000;
    width: 200px; 
    height: 40px;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #f98;
    text-align: center;
}