/*  
    ---------------------------------------------------------------
    ----------  /curso-jquery-escuela-it.com/  --------------------
    ----------  /12-eventos-de-teclado-y-raton/  ------------------
    ----------  /01-seguir-movimiento-raton/  ---------------------
    ----------  /assets/css/seguir-movimiento-raton.css  ----------
    ---------------------------------------------------------------  
*/


#moverse{
    position: absolute;
    z-index: 1000;
    width: 200px; 
    height: 40px;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #f98;
    text-align: center;
}