/*  
    ---------------------------------------------------------------------
    ----------  /curso-jquery-escuela-it.com/  --------------------------
    ----------  /12-eventos-de-teclado-y-raton/  ------------------------
    ----------  /02-menu-contextual-personalizado/  ---------------------
    ----------  /assets/css/menu-contextual-personalizado.css  ----------
    ---------------------------------------------------------------------  
*/


#menu{
    position: absolute;
    display: none;
    width: 30rem; 
    height: 4rem;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #f98;
    text-align: center;
    z-index: 1000;
}

#info {
    display: flex;
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #f98;
}