/*
    -----------------------------------------------------
    ----------  /curso-jquery-escuela-it.com/  ----------
    ----------  /src/styles/  ---------------------------
    ----------  /11-eventos/  ---------------------------
    ----------  /02-metodo-off.css  ---------------------
    -----------------------------------------------------
*/


.layout__main {
    margin-top: 20rem;
}

.header__title {
    font-size: 2.6rem;
}

.main__metodo-off {
    width: 100%;
    max-width: 102.4rem;
    /* height: 40rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(219, 228, 240), rgb(176, 196, 236));
    box-shadow: 50px 50px 100px rgb(209, 220, 235);
    padding: 5rem;
    border-radius: 0.5rem;
}


.div {
  font-size: 1.6rem;
  font-weight: bold;
  color: green;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
}
