/*
    ----------------------------------------------------------
    ----------  /01-curso-jquery-escuela-it/  ----------------
    ----------  /src/styles/  --------------------------------
    ----------  /07-manipulacion-basica-elementos/  ----------
    ----------  /02-formularios.css  -------------------------
    ----------------------------------------------------------
*/


.main__formularios {
    width: 100%;
    max-width: 102.4rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(219, 228, 240), rgb(176, 196, 236));
    box-shadow: 50px 50px 100px rgb(209, 220, 235);
    padding: 5rem;
    border-radius: 0.5rem;
}

#bloqueavanzado {
    display: none;
    height: 8.5rem;
    padding: 2rem;
    background-color: #ddd;
}

a {
    color: blueviolet;
    font-size: 1.8rem;
    font-weight: 600;
}

a:hover {
    font-size: 2.2rem;
}

.error {
    background-color: #f99;
    border: 2px solid red;
}
