/*
    -----------------------------------------------------------------
    ----------  /curso-jquery-escuela-it.com/  ----------------------
    ----------  /src/styles/  ---------------------------------------
    ----------  /10-mainipulacion-avanzada-del-contenido/  ----------
    ----------  /05-dimensiones.css  --------------------------------
    -----------------------------------------------------------------
*/


.layout__main {
    margin-top: 20rem;
}

.header__title {
    font-size: 2.6rem;
}

.main__dimensiones {
    width: 100%;
    max-width: 160rem;
    /* height: 40rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(219, 228, 240), rgb(176, 196, 236));
    box-shadow: 50px 50px 100px rgb(209, 220, 235);
    padding: 5rem;
    border-radius: 0.5rem;
}

.capa {
    width: 200px;
    height: 100px;
    background-color: #ddd;
    padding: 20px;
    border: 10px solid red;
    /* box-sizing: border-box; */
}

.img-dimensiones {
    width: 50%;
    height: auto;
}
