/*  ---------------------------------------------------------------------------------  */
/*  ----------  /curso-jquery-escuela-it.com/  ----------------------  --------------  */
/*  ----------  /09-dudas-y-conceptos-i-ejercicios-introduccion-a-jquery/  ----------  */  
/*  ----------  /03-ejercicio-3/  ---------------------------------------------------  */
/*  ----------  /assets/css/styles.css  ---------------------------------------------  */
/*  ---------------------------------------------------------------------------------  */


.contenido {
    padding-left: 50px;
    padding-right: 50px;
}

li {
    margin-bottom: 10px;
}
