/*  ---------------------------------------------------------------------------------  */
/*  ----------  /curso-jquery-escuela-it.com/  ----------------------  --------------  */
/*  ----------  /09-dudas-y-conceptos-i-ejercicios-introduccion-a-jquery/  ----------  */  
/*  ----------  /05-ejercicio-5/  ---------------------------------------------------  */
/*  ----------  /assets/css/styles.css  ---------------------------------------------  */
/*  ---------------------------------------------------------------------------------  */


.contenido {
    padding-left: 50px;
    padding-right: 50px;
}

p {
    padding: 10px;
    margin-bottom: 2rem;
}